{% extends 'base.html.twig' %}

{% block body %}
<style>
    .right {
        position: absolute;
        right: 50px;

    }
</style>
<div class="right">
    <a href="{{ path('article_index') }}" class="btn btnTheme btnShop fwEbold text-white md-round py-md-3 px-md-4 py-2 px-3">Back to my articles<i class="fas fa-arrow-right ml-2"></i></a>
</div>
    <center>
    <h1>Edit Article</h1>
    </center>
    <br>
    {{ form_start(edit_form) }}
        {{ form_widget(edit_form) }}
    <center>
    <button type="submit" class="btn btnTheme btnCart fwEbold text-center text-white md-round py-3 px-4 py-md-3 px-md-4">Edit</button>
    </center>
    {{ form_end(edit_form) }}


    <script src="{{ asset('bundles/blog/ckeditor/ckeditor.js') }}"></script>
{% endblock %}
