{% extends 'base.html.twig' %}

{% block body %}

<main>
    <!-- introBannerHolder -->
    <section class="introBannerHolder d-flex w-100 bgCover" style="background-image: url({{asset('images/b-bg7.jpg')}});">
        <div class="container">
            <div class="row">
                <div class="col-12 pt-lg-23 pt-md-15 pt-sm-10 pt-6 text-center">
                    <h1 class="headingIV fwEbold playfair mb-4">Blog</h1>
                    <ul class="list-unstyled breadCrumbs d-flex justify-content-center">
                        <li class="mr-sm-2 mr-1"><a href="{{ path('homepage') }}">Home</a></li>
                        <li class="mr-sm-2 mr-1">/</li>
                        <li class="mr-sm-2 mr-1"><a href="{{path('article_list')}}">Blog</a></li>
                        <li class="mr-sm-2 mr-1">/</li>
                        <li class="active">{{ article.title }}</li>
                    </ul>
                </div>
            </div>
        </div>
    </section>
    <!-- twoColumns -->
    <div class="twoColumns container pt-xl-23 pb-xl-20 py-lg-20 py-md-16 py-10">
        <div class="row border-bottom mb-9">
            <div class="col-12 col-lg-9 order-lg-3">
                <!-- newsBlogColumn -->
                <div class="newsBlogColumn mb-9">
                    <div class="imgHolder mb-6">
                        <img src="{{asset('Uploads/Images/' ~article.image )}}" alt="image description" class="img-fluid">
                    </div>
                    <div class="textHolder d-flex align-items-start mb-1">
                        <time class="time text-center text-uppercase py-sm-3 py-1 px-1" datetime={{article.date | date('d-m-y')}}> <strong class="fwEbold d-block mb-1">{{article.date | date('d')}}</strong> {{article.date | date('F')}}</time>

                        <div class="alignLeft pl-6 w-100">
                            <h2 class="headingV fwEbold mb-2">{{ article.title }}</h2>
                            <span class="postBy d-block pb-6 mb-3">Post by: {{ article.author }}</span>
                        </div>
                    </div>
                    <p class="mb-5"><span class="d-block">{{ article.content [3:-4]}}</span>
                        <a href="{{ path('article_pdf', { 'idA': article.idA }) }}" class="btn btnTheme btnShop fwEbold text-white md-round py-md-3 px-md-4 py-2 px-3">PDF form<i class="fas fa-arrow-right ml-2"></i></a>

                </div>
            </div>
            <div class="col-12 col-lg-3 order-lg-1">
                <!-- sidebar -->
                <aside id="sidebar">
                    <!-- widget -->
                    <section class="widget overflow-hidden mb-md-9 mb-6">
                        <h3 class="headingVII fwEbold text-uppercase mb-4">Search</h3>
                        <form action="javascript:void(0);" class="searchForm position-relative border">
                            <fieldset>
                                <input type="search" class="form-control" placeholder="Search article...">
                                <button class="position-absolute"><i class="icon-search"></i></button>
                            </fieldset>
                        </form>
                    </section>
                    <!-- widget -->
                    <section class="widget overflow-hidden mb-md-9 mb-6">
                        <h3 class="headingVII fwEbold text-uppercase mb-2">Latest Articles</h3>
                        <ul class="list-unstyled recentPostList mb-0">
                            {% for a in articles [:10] %}
                            <li><a href="{{ path('article_show',{'idA':a.idA}) }}" class="py-2 d-block">{{  a.title }}</a></li>
                            {% endfor %}
                        </ul>
                    </section>

                    <!-- widget -->
                    <section class="widget overflow-hidden mb-md-5 mb-3">
                        <h3 class="headingVII fwEbold text-uppercase mb-4">CATEGORIES</h3>
                        <ul class="list-unstyled archiveList mb-0">
                            <li class="mb-3"><a href="{{ path('article_listCat1') }}" class="d-block">Garden Care</a></li>
                            <li class="mb-3"><a href="{{ path('article_listCat2') }}" class="d-block">Garden Tech</a></li>
                            <li class="mb-3"><a href="{{ path('article_listCat3') }}" class="d-block">Plants</a></li>
                            <li class="mb-3"><a href="{{ path('article_listCat4') }}" class="d-block">HousePlants</a></li>
                            <li class="mb-3"><a href="{{ path('article_listCat5') }}" class="d-block">Seeds & Bulbs</a></li>
                            <li class="mb-3"><a href="{{ path('article_listCat6') }}" class="d-block">Trees & Shrubs</a></li>
                            <li class="mb-3"><a href="{{ path('article_listCat7') }}" class="d-block">DIY</a></li>
                            <li class="mb-3"><a href="{{ path('article_listCat8') }}" class="d-block">Uncategorized</a></li>
                        </ul>
                    </section>

                </aside>
            </div>
        </div>
        <div class="row">
            <div class="col-12">
                <!-- socialNetworkList -->
                <ul class="list-unstyled socialNetworkList d-flex flex-nowrap mb-5">
                    <li class="text-uppercase mr-12">SHARE THIS POST:</li>
                    <li class="mr-4"><a href="javascript:void(0);" class="fab fa-facebook-f"></a></li>
                    <li class="mr-4"><a href="javascript:void(0);" class="fab fa-google-plus-g"></a></li>
                    <li class="mr-4"><a href="javascript:void(0);" class="fab fa-twitter"></a></li>
                    <li class="mr-4"><a href="javascript:void(0);" class="fab fa-pinterest-p"></a></li>
                </ul>
            </div>
        </div>
        <div class="row mb-10">
            <div class="col-12 border-bottom">
                <!-- commentsBlock -->
                <div class="commentsBlock overflow-hidden mb-2">
                    <h4 class="headingVII text-uppercase mb-5">{{commentaires|length}} COMMENTS</h4>
                    {%for commentaire in commentaires%}
                    <!-- commentArea -->

                    <article class="commentArea overflow-hidden d-flex align-items-start mb-6">
                        <a href="javascript:void(0);" class="img rounded pr-5"><img src="{{ asset('images/avatar.png') }}" alt="image description" class="img-fluid"></a>
                        <div class="txtHolder border px-2 py-2">
                            <span class="commentDate d-block mb-2"><a href="javascript:void(0);">{{commentaire.id}}</a> {{commentaire.date|date('d F, Y')}}	<a href="{# path('commentaire_edit', { 'idCommentaire': commentaire.idCommentaire }) #}" class="link text-green">Edit </a><a href="{# path('commentaire_delete', { 'idCommentaire': commentaire.idCommentaire }) #}" class="link text-green"> Delete</a></span>
                            <p class="mb-1">{{commentaire.content}}</p>
                        </div>
                    </article>
                    {% endfor %}

                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-12">
                <!-- commentFormArea -->
                <div class="commentFormArea">
                    <h2 class="headingVII text-uppercase mb-5">Leave A Comment</h2>
                    <form class="commentform">
                        <div class="form-group w-100 mb-5">
                        </div>
                        {{ form_start(form) }}
                        {{ form_widget(form) }}
                        <button type="submit" class="btn btnTheme btnShop md-round fwEbold text-white py-3 px-4 py-md-3 px-md-4">Post Now <i class="fas fa-arrow-right ml-2"></i></button>
                        {{ form_end(form) }}
                    </form>
                </div>
            </div>
        </div>
    </div>
</main>
{% endblock %}
